<%- include('header') -%>
<%- include('menu') -%>

<% if(typeof save !== 'undefined') {%>
  <div class="alert alert-success" role="alert">Sikeres hozzáadás</div>
<% }%>
<% if(typeof empty !== 'undefined') {%>
  <div class="alert alert-danger" role="alert">Minden mezőt töltsön ki!</div>
<% }%>

<div class="container">
    <div class="row">
        <div class="col">
          <br>
            <h2>Kezdés időpontok</h2>
            <br>
            <form method="POST">
              <a>Vetítés dátuma: </a>
              <input type="date" class="form-control" id="datepick" name="datepick" style='width:20em'>
              <br> 
                  <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Kezdés
                    </th>
                    <th>
                        3D
                    </th>
                </tr>
                <tr>
                    <td class="align-middle">
                      <input type="text" class="form-control" id="kezdes" name="kezdes">
                    </td>
                    <td class="align-middle">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="haromde" name="haromde" value="something" unchecked>
                          <label class="form-check-label"></label>
                        </div>
                    </td>
                </tr>
            </table>
              <input type="submit" class="btn btn-primary float-right" value="Mentés"/>
              <br><br>
                <a class="btn btn-primary" href="/mozi/<%= mozi._id %>/filmlist/" color="white">Befejezés</a>
                <a class="btn btn-danger" href="/mozi/<%= mozi._id %>/filmlist/edit/<%= film._id %>/start" color="white">Időpontok törlése</a>
            </form>
        </div>
    </div>
</div>

<%- include('footer') -%>
